<div class="row">
    <div class="col-md-12">
        <h2>Cadatrar produto</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form>
        <div class="form-group">
            <label for="">Código</label>
            <input type="text" class="form-control" id="" placeholder="Código">
        </div>
        <div class="form-group">
            <label for="">Descrição</label>
            <text-area class="form-control"></text-area>
        </div>
         <div class="form-group">
            <label for="">Preço</label>
            <input type="text" class="form-control" id="" placeholder="Preço">
        </div>  
        <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
    </div>
</div>